.parent {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;  
}

.child {
  border:2.5px solid gray;
  text-align: center;
  padding:50px;
  background-color:ghostwhite;
  
}

@media screen and (max-width:992px) {
  .parent {
    flex-direction: column;
  }
}